.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

pager li>a:focus, .pager li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.tabbable a, #rootwizard a, #rootwizard1 a {
    color: #3c8dbc !important;
}

.pager .next>a, .pager .next>span {
    float: right;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: .5rem;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}